<!DOCTYPE html>

<html lang="en-US">
<body>
<div class="page-wrapper">
    <%= render "shard/header" %>

    <div style="margin:50px">
    </div>

    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="box filter">
                            <form id="form-filter" class="labels-uppercase">
                                <!--end form-group-inline-->

                                <div class="wrapper">
                              		<section>
                              		    <h3>성별</h3>
                              		    <ul class="checkboxes">
                                            <li class="checkbox-inline no_indent"><label><input type="checkbox" name="gender_man">남자</label></li>
                                            <li class="checkbox-inline no_indent"><label><input type="checkbox" name="gender_woman">여자</label></li>
	                                    </ul>
                                        <!--end checkboxes-->
                                    </section>
                                    <!--end gender-->
                                	<section>
                                	  <h3>가격대</h3>
                                    <ul class="checkboxes">
                                        <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_0by5">~0.5</label></li>
                                        <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_5by10">0.5~1</label></li>
                                        <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_10by50">1~5</label></li>
                                        <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_50by100">5~10</label></li>
                                        <li class="checkbox-inline no_indent"><label><input type="checkbox" name="mon_100">10~</label></li>
                                    </ul>
                										<div id="slider-range"></div>
                                	</section>
                                	<!-- end pricebar -->
                                  <section>
                                      <h3>연령대</h3>
                                      <ul class="checkboxes">
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_0">유아 </label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_10">10대</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_20">20대</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_30">30대</label></li>
                                      	  <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_40">40대</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_50">50대</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="age_60">60대이상</label></li>
                                      </ul>
                                      <!--end checkboxes-->
                                  </section>
                                  <!--end age-->
                                  <section>
                                      <h3>기념일</h3>
                                      <ul class="checkboxes">
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_love">연인</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_friend">친구</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_family">가족</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_teacher">스승</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_birthday">생일</label></li>
                                          <li class="checkbox-inline no_indent"><label><input type="checkbox" name="relation_enemy">원수</label></li>
                                      </ul>
                                      <!--end checkboxes-->
                                  </section>
                                  <!--end anniversary-->
                                </div>
                                <!--end filter-->
                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary btn-rounded form-control">Search</button>
                                </div>
                            </form>
                            <!--end form-filter-->
                        </div>
                        <!--end filter-->
                    </div>
                    <!--end sidebar-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-9 col-sm-8">
                    <div class="main-content">
                        <div class="title">
                            <div class="left">
                                <h1>Air Jordan<span class="rating"><i class="fa fa-star"></i>9.9</span></h1>
                                <h3>NIKE</h3>
                            </div>
                            <div class="right">
                                <a href="#availability" class="btn btn-primary btn-rounded scroll">가격비교 하러가기</a>
                            </div>
                        </div>
                        <!--end title-->
                        <div class="image">
                            <img src="assets/img/items/sample1.png" alt="">
                        </div>
                        <hr>
                        <section id="additional-information">
                            <h2>선물 받는 사람은요</h2>
                            <dl class="info">
                                <dt>성별:</dt>
                                <dd>남자</dd>
                                <dt>연령대:</dt>
                                <dd>20대</dd>
                                <dt>기념일종류:</dt>
                                <dd>1주년</dd>
                                <dt>구입가격:</dt>
                                <dd>267,000원</dd>
                                <dt>점수</dt>
                                <dd><i class="fa fa-star"></i>5</dd>
                            </dl>
                            <!--end info-->
                        </section>
                        <section>
                            <h2>이 선물을 선택한 이유!?</h2>
                            <p>내용 난 이러해서 이 선물을 블라블라블라</p>
                        </section>
                        <hr>
                        <section id="reviews">
                            <div class="title">
                                <h2 class="pull-left">Reviews</h2>
                                <a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll">Write a Review</a>
                            </div>
                            <h3>Overall Score</h3>
                            <ul class="rating-score">
                                <li class="overall"><i class="fa fa-star"></i>9.9</li>
                                <li><span>9.6</span>
                                    <figure>Cleanliness</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Comfort</figure>
                                </li>
                                <li><span>9.4</span>
                                    <figure>Location</figure>
                                </li>
                                <li><span>9.8</span>
                                    <figure>Facilities</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Staff</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Value for money</figure>
                                </li>
                            </ul>
                            <div class="reviews">
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <aside class="name">John Doe</aside>
                                            <aside class="date">10.03.2015</aside>
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-9">
                                            <div class="comment">
                                                <div class="comment-title">
                                                    <figure class="rating">9.5</figure>
                                                    <h4>Beautiful Holiday</h4>
                                                </div>
                                                <!--end title-->
                                                <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                                                    Suspendisse at dui sit amet felis commodo dictum. Class aptent taciti
                                                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                                    Integer commodo eleifend erat, vitae tincidunt urna volutpat et.
                                                    Mauris laoreet, sem ut sodales sodales, massa turpis posuere lectus, non
                                                    aliquet massa nisl ac orci.
                                                </p>
                                                <div class="clearfix options">
                                                    <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>3</a>Helpful Review?</span>
                                                    <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                                                </div>
                                                <!--end options-->
                                                <div class="answer">
                                                    <h4>James Green, CEO of the Mountain Paradise Hotel</h4>
                                                    <p>Phasellus venenatis vel orci et lacinia. Duis sollicitudin arcu et hendrerit
                                                        tempor. Aliquam at urna fringilla, auctor tellus eget, vehicula lorem.
                                                        Pellentesque ornare faucibus sapien eget max
                                                    </p>
                                                </div>
                                                <!--end answer-->
                                            </div>
                                            <!--end comment-->
                                        </div>
                                        <!--end col-md-9-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end review-->
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <aside class="name">Peter Green</aside>
                                            <aside class="date">10.03.2015</aside>
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-9">
                                            <div class="comment">
                                                <div class="comment-title">
                                                    <figure class="rating">9.8</figure>
                                                    <h4>Very Good Hotel</h4>
                                                </div>
                                                <!--end title-->
                                                <p>In eleifend odio vel augue mattis, et pharetra dolor ullamcorper. Nulla
                                                    ut porttitor mauris. Sed tincidunt, urna non cursus suscipit, quam velit
                                                    laoreet libero, sit amet tincidunt ex nunc eget eros.
                                                </p>
                                                <div class="clearfix options">
                                                    <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>10</a>Helpful Review?</span>
                                                    <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                                                </div>
                                                <!--end options-->
                                            </div>
                                            <!--end comment-->
                                        </div>
                                        <!--end col-md-9-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end review-->
                            </div>
                            <!--end reviews-->
                        </section>
                        <section id="write-a-review">
                            <h2>Write a Review</h2>
                            <form  class="labels-uppercase clearfix" id="form_reply_1">
                                <div class="alert alert-dark fade in center" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-switch="#review-write">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="sr-only">Error:</span>
                                    <a href="#tab-sign-in" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Please Sign in to write a review</a>
                                </div>
                                <div class="review write switch" id="review-write">
                                    <aside class="name">John Doe</aside>
                                    <div class="comment">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="comment-title">
                                                    <h4>Review Your Stay</h4>
                                                </div>
                                                <!--end title-->
                                                <div class="form-group">
                                                    <label for="form_reply_1-name">Title of your review<em>*</em></label>
                                                    <input type="text" class="form-control" id="form_reply_1-name" name="name" placeholder="Beautiful holiday!" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form_reply_1-message">Your Answer<em>*</em></label>
                                                    <textarea class="form-control" id="form_reply_1-message" rows="8" name="answer" required="" placeholder="Describe your stay"></textarea>
                                                </div>
                                                <!--end form-group-->
                                                <div class="form-group pull-right">
                                                    <button type="submit" class="btn btn-primary btn-rounded">Send Review</button>
                                                </div>
                                                <!--end form-group-->
                                            </div>
                                            <!--end col-md-8-->
                                            <div class="col-md-4">
                                                <div class="comment-title">
                                                    <h4>Rating</h4>
                                                </div>
                                                <!--end title-->
                                                <dl class="visitor-rating">
                                                    <dt>Cleanliness</dt>
                                                    <dd class="star-rating active" data-name="cleanliness"></dd>
                                                    <dt>Comfort</dt>
                                                    <dd class="star-rating active" data-name="comfort"></dd>
                                                    <dt>Location</dt>
                                                    <dd class="star-rating active" data-name="location"></dd>
                                                    <dt>Facilities</dt>
                                                    <dd class="star-rating active" data-name="facilities"></dd>
                                                    <dt>Staff</dt>
                                                    <dd class="star-rating active" data-name="staff"></dd>
                                                    <dt>Value for money</dt>
                                                    <dd class="star-rating active" data-name="value"></dd>
                                                </dl>
                                            </div>
                                            <!--end col-md-4-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end comment-->
                                </div>
                                <!--end review-->
                            </form>
                            <!--end form-->
                        </section>
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <%= render "shard/footer" %>
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>

<!-- 왼쪽밑에 팝업뜨게 하는 것!
<div class="message-popup bottom-left" data-show-after-time="2000" data-close-after-time="5000">
    <div class="close"><i class="fa fa-times"></i></div>
    <p>15 people are watching this accommodation.</p>
</div>

<div class="message-popup bottom-left featured" data-show-after-time="4000" data-close-after-time="5000">
    <div class="close"><i class="fa fa-times"></i></div>
    <div class="title">Just Booked!</div>
    <p>Hurry up! This accommodation was just booked. Don’t miss the chance!</p>
</div>

<div class="message-popup bottom-left" data-show-after-time="5000" data-close-after-time="5000">
    <div class="close"><i class="fa fa-times"></i></div>
    <p>Last booking was from <strong>France</strong></p>
</div>
-->

</body>
