<!DOCTYPE html>

<html lang="en-US">
<body>
<div class="page-wrapper">
  <%= render "shard/header" %>

    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Listing</a></li>
                <li class="active">Detail</li>
            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="box filter">
                            <h2>About Us</h2>
                            <ul class="links">
                                <li class="active"><a href="about-us.html">About Us</a></li>
                                <li><a href="become-an-affiliate.html">Become an Affiliate</a></li>
                                <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <!--end filter-->
                    </div>
                    <!--end sidebar-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-9">
                    <div class="main-content">
                        <div class="title">
                            <h1>About Us</h1>
                        </div>
                        <!--end title-->
                        <section>
                            <h2>오다주웠다</h2>
                            <h4><p>멋쟁이 사자처럼 인천대학교 소속 INcoder가 제작한 서비스입니다.</p></h4>
                            <h5>
                                살면서 누구나, 반드시 한 번쯤 위 사람들에게 선물을 주려고 고민을 해봤을 겁니다.
                                그 때 마다 수 많은 고민을 하고, 이곳 저곳 다 물어보고, 찾아보며 힘들게 선물을 산 기억이 있을 겁니다.
                                선물을 고르는 것은 남녀 모두 쉽지 않겠지만, 매일매일 소환사의 협곡과 리장 타워로 진입하는 남자에게는
                                특히 더 고통스러울 것입니다.
                                고통스러워하는 여러분들을 위하여, 이 서비스를 고안하고 만들게 되었습니다.
                            </h5>
                        </section>
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <%= render "shard/footer" %>
</div>
</body>
