<!DOCTYPE html>

<html lang="en-US">


<body>
<div class="page-wrapper">
    <div id="page-header">
        <header>
            <div class="container">
                <div class="secondary-nav">
                    <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                    <div id="secondary-nav">
                        <nav>
                            <div class="left opacity-60">
                                <a href=""><i class="fa fa-phone"></i>+1 781-903-1047</a>
                                <a href="mailto:hello@example.com"><i class="fa fa-envelope"></i>hello@example.com</a>
                            </div>
                            <!--end left-->
                            <div class="right">
                                <div class="element">
                                  <a href="#" data-toggle="modal" data-toggle="true" data-target="#sign-in-register-modal">Sign In</a>
                                </div>
                                <!--end element-->
                                <div class="element">
                                    <a href="#tab-register" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Register</a>
                                </div>
                                <!--end element-->
                            </div>
                            <!--end right-->
                        </nav>
                    </div>
                </div>
                <!--end secondary-nav-->
            </div>
            <!--end container-->


            <!-- Modal -->


            <div class="modal fade" id="sign-in-register-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in-register-modal">
                <div class="wrapper">
                    <div class="inner">
                        <div class="modal-dialog width-400px" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><h1>Sign In</h1></li>
                                    </ul>
                                </div>
                                <!--end modal-header-->
                                <div class="modal-body">
                                    <div class="tab-content">
                                        <div id="tab-sign-in">
                                        <form id="form-sign">
                                            <div class="form-group">
                                                <label for="form-sign-in-email">E-mail</label>
                                                <input type="text" class="form-control" id="form-sign-in-email" name="sign_in_email" placeholder="Login E-mail">
                                            </div>
                                            <!--end form-group-->
                                            <div class="form-group">
                                                <label for="form-sign-in-password">Password</label>
                                                <input type="password" class="form-control" id="form-sign-in-password" name="sign_in_password" placeholder="*****">
                                            </div>
                                            <!--end form-group-->
                                            <div class="clearfix action">
                                                <div class="form-group pull-right">
                                                    <button type="submit" class="btn btn-primary btn-rounded">Sign In</button>
                                                </div>
                                                <div class="form-group pull-left">
                                                    <label><input type="checkbox" name="1">Login Automatically</label>
                                                </div>
                                            </div>
                                            <!--end action-->
                                        </form>
                                        <!--end form-sign-in-->
                                    </div>
                                </div>
                            </div>
                            <!--end modal-body-->
                            <div class="modal-footer">
                                <div class="center">
                                    <div>Lost Password? <a href="#">Reset here</a></div>
                                    <div>New to Accommondo? <a href="#">Register an account</a></div>
                                </div>
                            </div>
                            <!--end modal-footer-->
                        </div>
                        <!--end modal-content-->
                    </div>
                    <!--end modal-dialog-->
                </div>
            </div>
            </div>




            <!-- Modal End -->



            <hr>
            <div class="container">
                <div class="primary-nav">
                    <div class="left">
                        <a href="index.html" id="brand"><img src="assets/img/logo.png" alt=""></a>
                        <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                    </div>
                    <!--end left-->
                    <div class="right" >
                        <nav id="primary-nav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li>
                                    <a href="#" class="has-child">Listing</a>
                                    <ul class="child-nav">
                                        <li><a href="listing.html">List Listing</a></li>
                                        <li><a href="listing-matrix.html">Matrix Listing</a></li>
                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="#" class="has-child">Pages</a>
                                    <ul class="child-nav">
                                        <li><a href="404.html">404</a></li>
                                        <li>
                                            <a href="#" class="has-child">Admin</a>
                                            <ul class="child-nav">
                                                <li><a href="edit.html">Edit Accommodation</a></li>
                                                <li><a href="my-accommodations.html">My Accommodations</a></li>
                                                <li><a href="profile.html">Profile</a></li>
                                                <li><a href="reservations.html">Reservations</a></li>
                                                <li><a href="reviews.html">Reviews</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="detail.html">Accommodation Detail</a></li>
                                        <li><a href="become-an-affiliate.html">Become an Affiliate</a></li>
                                        <li>
                                            <a href="#" class="has-child">Blog</a>
                                            <ul class="child-nav">
                                                <li><a href="blog.html">Blog Listing</a></li>
                                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="grid.html">Grid</a></li>
                                        <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li class="submit"><a href="submit.html"><span>Submit</span><i data-toggle="tooltip" data-placement="top" title="Submit"><img src="assets/img/plus.png" alt=""></i></a></li>
                            </ul>
                        </nav>
                        <!--end nav-->
                    </div>
                    <!--end right-->
                </div>
                <!--end primary-nav-->
            </div>
            <!--end container-->
        </header>
        <!--end header-->
    </div>
    <!--end page-header-->

    <div id="page-content">
        <div class="container">
            <div class="main-content">
                <form class="form-submit labels-uppercase" id="form-submit">
                    <section id="main-information">
                        <div class="title" >
                            <h2>회원 가입</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form-submit-title">User Name<em>*</em></label>
                                    <input type="text" class="form-control" id="form-submit-title" name="user_name" placeholder="User Name" required="" value="">
                                </div>
                                <!--end form-group-->
                            </div>
                            <div class="col-md-3"></div>
                            <!--end div-->
                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form-submit-title">E-mail<em>*</em></label>
                                    <input type="text" class="form-control" id="form-submit-title" name="email" placeholder="User E-mail" required="" value="">
                                </div>
                                <!--end form-group-->
                            </div>
                            <div class="col-md-3"></div>
                            <!--end div-->
                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form-submit-title">Password<em>*</em></label>
                                    <input type="password" class="form-control" id="form-submit-title" name="password" placeholder="Password" required="" value="">
                                </div>
                                <!--end form-group-->
                            </div>
                            <div class="col-md-3"></div>
                            <!--end div-->
                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form-submit-title">Check for Password<em>*</em></label>
                                    <input type="password" class="form-control" id="form-submit-title" name="pw_check" placeholder="Check for Password" required="" value="">
                                </div>
                                <!--end form-group-->
                            </div>
                            <div class="col-md-3"></div>
                            <!--end div-->
                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label for="form-submit-title">Gender<em>*</em></label>
                                  <ul class="checkboxes inline list-unstyled">
                                    <li><label><div class="icheckbox"><input type="radio" name="1" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>남자</label></li>
                                    <li><label><div class="icheckbox"><input type="radio" name="2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>여자</label></li>
                                  </ul>
                                  <!--end checkboxes-->
                                </div>
                                <!--end form-group-->
                            </div>
                            <div class="col-md-3"></div>
                            <!--end div-->
                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                  <div class="form-group width-60">
                                      <label>Job</label>
                                      <select class="framed width-100" name="job">
                                          <option value="1">학생</option>
                                          <option value="">전문직</option>
                                          <option value="2">자영업자</option>
                                          <option value="3">기타</option>
                                      </select>
                                  </div>
                                </div>
                                <!--end form-group-->
                            </div>
                            <div class="col-md-3"></div>
                            <!--end div-->
                        </div>
                        <!--end row-->


                    </section>
                    <hr>
                    <section>
                        <div class="form-group center">
                            <button type="submit" class="btn btn-primary btn-rounded btn-large">Join</button>
                            <button type="reset" class="btn btn-primary btn-rounded btn-large">cancel</button>
                        </div>
                    </section>
                </form>
                <!--end form-->
            </div>
            <!--end main-content-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <footer id="page-footer">
        <div class="row-one">
            <div class="container">
                <div class="logos">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-1.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-2.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-3.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-4.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo-5.png" alt=""></a>
                    </div>
                    <!--/ .logo-->
                </div>
                <!--/ .logos-->
            </div>
        </div>
        <!--end row-one-->
        <div class="row-two clearfix">
            <div class="container">
                <div class="copyright pull-left">(C) 2016 Your Company, All Rights Reserved</div>
                <div class="footer-nav pull-right">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About Us</a>
                    <a href="listing.html">Listing</a>
                    <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
            <div class="bg-transfer"><img src="assets/img/footer-bg.jpg" alt=""></div>
        </div>
        <!--end row-two-->
    </footer>
    <!--end page-footer-->
</div>
<!--end page-wrapper-->
<a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>


<!-- Modal -->
<div class="modal fade" id="package-modal" tabindex="-1" role="dialog" aria-labelledby="package-modal">
    <div class="wrapper">
        <div class="inner">
            <div class="modal-dialog width-800px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- Nav tabs -->
                        <h1>Choose a Package</h1>
                    </div>
                    <!--end modal-header-->
                    <div class="modal-body">
                        <div class="table-responsive pricing-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="width-50 opacity-50">
                                        <span class="title">Service</span>
                                    </th>
                                    <th class="section">
                                        <span class="title">Basic</span>
                                        <span class="price">$19.90</span>
                                        <span class="appendix">/year</span>
                                    </th>
                                    <th class="section">
                                        <span class="title">Medium
                                            <span class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top"><i class="fa fa-thumbs-up"></i></span>
                                        </span>
                                        <span class="price">$39.90</span>
                                        <span class="appendix">/year</span>
                                    </th>
                                    <th class="section">
                                        <span class="title">Professional</span>
                                        <span class="price">$69.90</span>
                                        <span class="appendix">/year</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Number of accommodations<i class="fa fa-question-circle tooltip-question" data-toggle="tooltip" data-placement="right" title="Nam quis ipsum ac sem ornare efficitur et vel mauris. Proin nibh arcu, vulputate eget massa sed."></i></td>
                                    <td>1</td>
                                    <td>10</td>
                                    <td>Unlimited</td>
                                </tr>
                                <tr>
                                    <td>Number of photos in gallery<i class="fa fa-question-circle tooltip-question" data-toggle="tooltip" data-placement="right" title="Nam quis ipsum ac sem ornare efficitur et vel mauris. Proin nibh arcu, vulputate eget massa sed."></i></td>
                                    <td>5</td>
                                    <td>10</td>
                                    <td>Unlimited</td>
                                </tr>
                                <tr>
                                    <td>Availability change<i class="fa fa-question-circle tooltip-question" data-toggle="tooltip" data-placement="right" title="Nam quis ipsum ac sem ornare efficitur et vel mauris. Proin nibh arcu, vulputate eget massa sed."></i></td>
                                    <td class="not-available"><i class="fa fa-times"></i></td>
                                    <td class="available"><i class="fa fa-check"></i></td>
                                    <td class="available"><i class="fa fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td>Statistics<i class="fa fa-question-circle tooltip-question" data-toggle="tooltip" data-placement="right" title="Nam quis ipsum ac sem ornare efficitur et vel mauris. Proin nibh arcu, vulputate eget massa sed."></i></td>
                                    <td class="not-available"><i class="fa fa-times"></i></td>
                                    <td class="available"><i class="fa fa-check"></i></td>
                                    <td class="available"><i class="fa fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td>Featured Accommodation<i class="fa fa-question-circle tooltip-question" data-toggle="tooltip" data-placement="right" title="Nam quis ipsum ac sem ornare efficitur et vel mauris. Proin nibh arcu, vulputate eget massa sed."></i></td>
                                    <td class="not-available"><i class="fa fa-times"></i></td>
                                    <td class="not-available"><i class="fa fa-times"></i></td>
                                    <td class="available"><i class="fa fa-check"></i></td>
                                </tr>
                                <tr>
                                    <td>Always on the home page<i class="fa fa-question-circle tooltip-question" data-toggle="tooltip" data-placement="right" title="Nam quis ipsum ac sem ornare efficitur et vel mauris. Proin nibh arcu, vulputate eget massa sed."></i></td>
                                    <td class="not-available"><i class="fa fa-times"></i></td>
                                    <td class="not-available"><i class="fa fa-times"></i></td>
                                    <td class="available"><i class="fa fa-check"></i></td>
                                </tr>
                                <tr class="buttons">
                                    <td class="opacity-30"><strong>Tip:</strong> You can change your package any time</td>
                                    <td><button type="button" class="btn btn-primary btn-rounded">Register</button></td>
                                    <td><button type="button" class="btn btn-primary btn-rounded">Register</button></td>
                                    <td><button type="button" class="btn btn-primary btn-rounded">Register</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--end pricing-table-->
                    </div>
                    <!--end modal-body-->
                </div>
                <!--end modal-content-->
            </div>
            <!--end modal-dialog-->
        </div>
    </div>
</div>
<!--end modal-->
<script type="text/javascript">

$('#sign-in-register-modal').on('shown.bs.modal', function () {
$('#myInput').focus()
})
</script>

</body>
